name: CI
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  integrationTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
      - name: Start PostgreSQL
        run: docker compose up -d --wait
      - name: Run integration test
        run: ./gradlew clean integrationTest

  endToEndTest:
    runs-on: ubuntu-latest
    needs: [integrationTest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
      - name: Start PostgreSQL
        run: docker compose up -d --wait
      - name: Start spring boot
        run: ./gradlew clean bootRun &
      - name: Wait for startup spring boot
        run: sleep 30
      - name: Run end to end test
        run: ./gradlew parallelEndToEndTest